.m-tile__element-1-67 {position:absolute;top:7.563831453634085%;left:32.06308777429467%;width:38.71473354231975%;}
        .m-tile__element-2-61 {position:absolute;top:6.5102636963502505%;left:1.6891383524960693%;width:43.710691823899374%;}
      .m-tile__element-2-62 {position:absolute;top:80.51770050125313%;left:59.119496855345915%;width:40.880503144654085%;}
        .m-tile__element-3-65 {position:absolute;top:4.504945224389098%;left:8.299288854329937%;width:40.43887147335423%;}
      .m-tile__element-3-66 {position:absolute;top:5.376111176378446%;left:52.35109717868338%;width:44.20062695924765%;}
  
@media  only screen and (min-width: 48em) {
            .m-tile__element-1-67 {position:absolute;top:4.441260744985673%;left:3.1578947368421053%;width:22.63157894736842%;}
                .m-tile__element-2-61 {position:absolute;top:4.579741379310345%;left:0.7306889352818372%;width:34.446764091858036%;}
          .m-tile__element-2-62 {position:absolute;top:80.22180316091954%;left:69.20015657620041%;width:30.68893528183716%;}
                .m-tile__element-3-65 {position:absolute;top:3.621395952722063%;left:1.1547723292469352%;width:31.17338003502627%;}
          .m-tile__element-3-66 {position:absolute;top:24.34634670487106%;left:1.7868870402802102%;width:31.34851138353765%;}
      }